// -------------------
// font loading
// -------------------

fontify($lora, $lora-hash, $serif-hed-fb)
fontify($crimson-text, $crimson-text-hash, $serif-fb)
fontify($lato, $lato-hash, $sans-fb)

set-type-class(all, true)
