<div class='intro'>
	<h1 class='intro__hed tk-lora'>{{meta.title}}</h1>
	<p class='intro__dek tk-lato'>{{meta.description}}</p>
	<p class='intro__byline tk-lato'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
	<p> I wanna see some crimson text lol </p>
</div>